#head{
    text-align: center;


}

#Result{
    display: flex;
    justify-content: right;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: white;
    height: 40px;
    border: 2px;
    padding: 10px;
    background-color: black;
    margin: 20px auto;
    width: 415px;
    box-shadow: 2px 2px 10px black;
}
.structure{
    text-align: center;
    height: 40px;
    padding: 5px;

}
.button{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    width:100px;
    height: 100px;
    padding: 25px;
    margin: 5px;
    border-radius: 15px;
   cursor:pointer;
}
.Operation{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bold;
    width:100px;
    height: 100px;
    padding: 25px;
    margin: 5px;
    border-radius: 15px;
   cursor:pointer;
   background-color: black;
   color: white;
}
#equate{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bold;
    width:100px;
    height: 100px;
    padding: 25px;
    margin: 5px;
    border-radius: 15px;
   cursor:pointer;
   background-color: orange;
}
#Allclear{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bold;
    width:100px;
    height: 100px;
    padding: 25px;
    margin: 5px;
    border-radius: 15px;
   cursor:pointer;
   background-color: orange;
}

